// colors

$white: rgb(255,255,255);
$mineShaft: rgb(51,51,51);
$gray: rgb(139,139,139);
$doveGray: rgb(114,114,114);
$silver: rgb(201,201,201); 
$eggBlue: rgb(0,200,200);
$alabaster: rgb(248,248,248);
$donJuan: rgb(87,81,83);



// Typograpfy
$base-font-family: 'Roboto', sans-serif;;
$heading-font-family: 'Montserrat', sans-serif;
$base-font-size: 16px;
